.image {
  height: 40px;
  position: relative;
  top: 7px;
}
.container {
  display: flex;
}
.text {
  line-height: 40px;
  position: relative;
  top: 7px;
  margin-left: 15px;
  white-space: nowrap;
}

